.root {
  -fx-background: #2e2e2e;
  -fx-text-fill: white;
  -fx-font-size: 12px;
  -fx-font-family: "Arial";
}

.button {
  -fx-background-color: #444;
  -fx-text-fill: white;
}

.button:hover {
  -fx-background-color: navy;
}

.text {
  -fx-text-fill: white;
}

.bold-text {
  -fx-font-weight: bold;
  -fx-fill: white;
}

.info-box {
  -fx-background-color: #2e2e2e;
  -fx-text-fill: white;
  -fx-border-color: #444;
  -fx-border-radius: 5px;
  -fx-control-inner-background: #2e2e2e;
}
