.root {
  -fx-background-color: white;
  -fx-text-fill: black;
  -fx-font-size: 12px;
  -fx-font-family: "Arial";
}

.button {
  -fx-background-color: #e0e0e0;
  -fx-text-fill: black;
}

.button:hover {
  -fx-background-color: lightblue;
}

.text {
  -fx-text-fill: black;
}

.bold-text {
  -fx-font-weight: bold;
  -fx-fill: black;
}

.info-box {
  -fx-background-color: white;
  -fx-text-fill: black;
  -fx-border-color: #e0e0e0;
  -fx-border-radius: 5px;
  -fx-control-inner-background: white;
}

.cell-default-fill {
  -fx-fill: white;
}

.cell-default-outline {
  -fx-stroke: black;
  -fx-stroke-width: 1;
}

.cell-no-outline {
  -fx-stroke: white;
  -fx-stroke-width: 0;
}